dist: xenial
language: python
sudo: false
python:
  - "3.6"
  - "3.7"
  - "3.7-dev"  # 3.7 development branch
  - "3.8-dev"  # 3.8 development branch
  - "nightly"  # nightly build
install:
  - "pip install tox-travis poetry"
  - "poetry install"
script:
  - "py.test"
