[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
click = "*"
boto3 = "*"
pyyaml = "*"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
coverage = "*"
pdbpp = "*"
pytest = "*"
pytest-cov = "*"
ipython = "*"
isort = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-mypy = "==17.8.0"
flake8-polyfill = "==1.0.2"

[requires]
python_version = "3.6"
