[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
click = "*"
"boto3" = "*"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
coverage = "*"
pdbpp = "*"
pytest = "*"
pytest-cov = "*"
ipython = "*"
isort = "*"

[requires]
python_version = "3.6"
